/**
 * -----------------
 * Google Fonts API.
 * -----------------
 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/**
 * -----------------------------------------------
 * Generic, universal reset and box-sizing module.
 * -----------------------------------------------
 */
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

/**
 * -----------------
 * Global variables.
 * -----------------
 */

:root {

	/** Color scheme. */
	--cedar: #746359;
	--starlight: #faf8ed;
	--stardust: #f1efe1;
	--sand: #dad0b5;
	--faded-gold: #dbd9ca;
	--mint-blue: #80d3cb;
	--matcha: #819a59;


	/** Monochrome. */
	--onyx: rgba(0, 0, 0, 0.9);
	--slate: rgba(0, 0, 0, 0.65);
	--charcoal: rgba(0, 0, 0, 0.5);
	--smokey: rgba(0, 0, 0, 0.35);
	--cloudy: rgba(0, 0, 0, 0.2);
	--snow: rgba(0, 0, 0, 0.15);
	--pure: rgb(255, 255, 255);
	--haze: rgba(255, 255, 255, 0.25);
	--fog: rgba(255, 255, 255, 0.5);

	/** Typography. */
	--font-body-copy: Lato, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Corbel, Tahoma, Verdana, Helvetica, Arial, sans-serif;
	--font-headings: 'Josefin Sans', var(--font-body-copy);
}

/**
 * --------------
 * Global styles.
 * --------------
 */

html {
	font: 400 1rem/1.5rem var(--font-body-copy);
	text-rendering: optimizeLegibility;
	background: var(--stardust);
	color: var(--cedar);
	text-shadow: 0 1px 1px var(--sand);
}